<?xml version="1.0" encoding="UTF-8" ?>
<widget xmlns = "http://www.w3.org/ns/widgets"
    xmlns:gap = "http://phonegap.com/ns/1.0"
    id        = "com.phonegap.desarrollo"
    version   = "1.0.0">

<name>Desarrollo de Software</name>

<description>
Esta es una aplicación para el Area de Desarrollo.
</description>

<author href="https://example.com" email="espillcoquispejose@gmail.com">
Oficina General de Tecnologia Informática y Comunicaciones.
</author>

<icon src="img/icon.png" />

<access origin="*" />
<access origin="*" subdomains="true" />
<access uri="*" subdomains="true" />

</widget>
